/*checkbox*/
.form-check-label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.28;
  font-weight: var(--primary-regular);
  color: var(--regular-gray1);
  padding-left: 18px;
  cursor: pointer;
  position: relative;
}

.form-check-label .form-check-input {
  width: 0;
  height: 0;
  float: left;
  pointer-events: none;
  display: block;
  opacity: 0;
}

.form-check-label:after {
  content: '';
  background: url(../img/checkbox/default.svg) no-repeat left center;
  position: absolute;
  left: 0;
  top: 2px;
  width: 14px;
  height: 14px;
  margin-top: -1px;
}

.form-check-label:has(input:checked):after {
  background: url(../img/checkbox/checked.svg) no-repeat left center;
}

/*select*/
.sort-dropdown {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 0.875rem;
  line-height: normal;
  padding: 0 10px;
  min-width: 160px;
  min-height: 38px;
  border-radius: 5px;
  font-weight: var(--primary-bold);
  background: url("../img/select/Union.svg") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 2rem;
}

.sort-dropdown:focus {
  box-shadow: none;
  outline: none;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}

.sort-dropdown option {
  color: var(--regular-gray1);
}

/*filter search*/
.facet-filter-values {
  border: none;
  border-bottom: 1px solid var(--regular-gray5);
  font-size: 0.875rem;
  line-height: 1.28;
  font-weight: 400;
  color: var(--regular-gray5);
  background: url(../img/search/Icon-search.svg) no-repeat right center;
  padding-right: 20px;
  height: 27px;
  display: block;
  width: 100%;
  border-radius: 0;
}

.facet-filter-values:focus {
  box-shadow: none;
  outline: none;
}

.wb-search-control {
  margin-bottom: 6px;
  padding: 0 10px;
}

.wb-search-control .input-group-append {
  display: none;
}

.facet-checkbox-list .form-check:has(label[style="display: none;"]) {
  display: none;
}

.progress-bar {
  background-color: var(--nada-blue-color);
}
