.navbar-expand-filters {
  position: sticky;
  top: 80px;
  padding: 0;
}

.filters-container {
  width: 100%;
}

.filters-container .fa-filter,
.filters-container .wb-filter-subtitle {
  display: none;
}

.sidebar-filter {
  position: relative;
}

.sidebar-filter:not(:last-child) {
  margin-bottom: 20px;
}

.sidebar-filter h6 {
  margin-bottom: 0;
}

.wb-filter-title {
  height: 38px;
  background: var(--white);
  border-radius: 5px;
  position: relative;
  font-size: 0.875rem;
  line-height: 1.28;
  font-weight: var(--primary-regular);
  color: var(--regular-gray1);
  display: flex;
  align-items: center;
  padding: 6px 10px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: 0;
}

.wb-filter-title:not(.collapsed) {
  border-radius: 5px 5px 0 0;
  color: var(--regular-gray5);
}

.wb-filter-title span:has(.icon-toggle):after {
  width: 40px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-left: 1px solid var(--regular-gray5);
  font-family: var(--unicef-icon);
  content: "\e94a";
  font-size: 12px;
  line-height: 0;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wb-filter-title:not(.collapsed) span:has(.icon-toggle):after {
  transform: rotate(180deg) translateY(50%);
  border-left: none;
  border-right: 1px solid var(--regular-gray5);
}

.wb-filter-title .icon-toggle {
  display: none;
}

.sidebar-filter-entries {
  background: var(--white);
  padding: 12px 0;
  border-top: 1px solid var(--regular-gray5);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
  /* display: none; */
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 2;
}

.sidebar-filter-entries .item {
  padding: 6px 10px;
}

.sidebar-filter-entries .item:hover {
  background-color: var(--regular-gray6);
}

.facet-checkbox-list {
  max-height: 120px;
}

.year-filter {
  padding: 15px;
}

.year-filter p {
  margin-bottom: 5px;
}

.year-item:not(:last-child) {
  margin-bottom: 15px;
}

/*selected filters*/
.active-filters .badge {
  display: inline-flex;
  padding: 7px 8px;
  align-items: center;
  background: var(--primary-light);
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 0.75rem;
  color: var(--regular-gray3);
  margin-right: 8px;
  font-weight: var(--primary-bold);
  margin-right: 20px;
}

.active-filters .badge i::before {
  display: none;
}

.active-filters .badge i {
  font-size: 0;
  background: url(../img/x-sign.svg) no-repeat center center;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 8px;
  cursor: pointer;
}

.selected-filter {
  font-size: 1.188rem;
  line-height: 1.3;
  border-right: 1px solid var(--regular-gray5);
  margin-right: 20px;
  padding-right: 20px;
  min-height: 38px;
  display: inline-flex;
  align-items: center;
}

.active-filters-container:has(.selected-filter) {
  border-bottom: 1px solid var(--regular-gray5);
  padding-bottom: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.selected-filter-type {
  margin-right: 6px;
  font-size: 1rem;
  line-height: 1;
}

.selected-filter-type,
.selected-filter,
.active-filters .outlined-btn {
  margin-bottom: 5px;
}


.search-count b {
  font-weight: var(--primary-regular);
  color: var(--primary-color);
}

/*pager*/
.switch-page-size {
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-page-size span {
  cursor: pointer;
  padding: 5px 10px;
  display: block;
  color: var(--blue1);
  background-color: var(--regular-gray7);
  border-radius: 4px;
  margin: 0 7px;
}

.switch-page-size span:hover {
  text-decoration: underline;
}

.switch-page-size .item-per-page-wrap {
  display: flex;
  align-items: center;
}

.filter-action-bar {
  border-bottom: 1px solid var(--regular-gray5);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}


/*mob*/
.filter-responsive {
  padding: 0;
  margin-bottom: 15px;
}

.filter-responsive:focus {
  outline: none;
}

.filter-responsive span {
  width: 100%;
}

.navbar-expand-filters {
  margin-bottom: 15px;
}
