.banner-search-block {
  --search-banner-space: 60px;
  background-color: var(--regular-gray6);
  padding: var(--search-banner-space) 0;
}


.banner-search-block .sub-text {
  margin-bottom: 12px;
}

.banner-search-block .wb-library-search-title {
  margin-bottom: 24px;
}

/*search*/
.search-browse {
  margin-top: 12px;
}

.search-browse a {
  color: var(--blue1);
}

.search-browse a:hover {
  text-decoration: underline;
}
