.compare-btn-wrap {
  margin-bottom: 25px;
}

.variable-comparison-popup {
  background-color: var(--primary-color);
  width: 250px;
  left: calc(((100% - var(--container-width)) / 2) + 15px);
  border-radius: 5px;
  padding: 10px;
  color: var(--white);
}

.variable-compare-btn-wrap {
  display: flex;
  align-items: center;
  margin: 15px 0;
  justify-content: space-between;
}

.variable-compare-btn-wrap>*:not(:last-child) {
  margin-right: 5px;
}

.var-name {
  font-weight: var(--primary-bold);
  color: var(--white);
}

.var-name:hover {
  color: var(--white);
  text-decoration: underline;
}

.var-description {
  font-size: var(--font-size12);
  line-height: 1.33;
}

.var-box {
  position: relative;
}

.var-box .var-remove {
  position: absolute;
  right: 5px;
  top: 0;
}

.var-list {
  max-height: 200px;
}

.var-list .var-box {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}
