.heading-style-1 {
  font-size: 1.875rem;
}

.heading-style-2 {
  font-size: 1.625rem;
}

.heading-style-3 {
  font-size: 1.5rem;
}

.heading-style-4 {
  font-size: 1.375rem;
}

.heading-style-5 {
  font-size: 1.25rem;
}

.paragraph-style-1 {
  font-size: 1.125rem;
  line-height: 1.55;
}
