/*common || repeat*/
.page-home .breadcrumb

/* ,
.page-catalog .breadcrumb */
  {
  display: none;
}

.breadcrumb {
  padding: 13px 0;
  background: transparent;
  margin-bottom: 0;
}

.breadcrumb a {
  color: var(--regular-gray1);
  font-size: var(--font-size14);
  line-height: 1.28;
}

.breadcrumbs span:not(:last-child):after {
  content: '';
  background: url(../img/Chevron.svg)no-repeat center center;
  width: 7px;
  height: 12px;
  margin: 0 12px;
  display: inline-block;
}
