.site-footer {
  --footer-space: 16px;
  background-color: var(--black);
  padding: var(--footer-space) 0;
}

.footer-wrap {
  align-items: center;
}

.footer-logo-section {
  display: flex;
  align-items: center;
}

.footer-copy-right p {
  font-size: var(--font-size12);
  line-height: 1.33;
  color: var(--white);
  margin-bottom: 0;
}

.footer-logo-section a {
  position: relative;
}

.footer-logo-section a:not(:last-child) {
  margin-right: 15px;
  padding-right: 15px;
}

.footer-logo-section a:not(:last-child):after {
  content: '';
  width: 1px;
  height: 25px;
  background-color: var(--regular-gray10);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
