:root {
  --primary-color: #1cabe2;
  --primary-hover: #0e95ca;
  --regular-gray1: #333;
  --regular-gray2: #404040;
  --regular-gray3: #595959;
  --regular-gray4: #757575;
  --regular-gray5: #c1c1c1;
  --regular-gray6: #f1f1f1;
  --regular-gray7: #f8f8f8;
  --regular-gray8: #d8d8d8;
  --regular-gray9: #ced4da;
  --regular-gray10: #737373;
  --regular-gray11: #6C757D;
  --regular-accent-action: #e34e09;
  --regular-accent-action-hover: #c94304;
  --white: #fff;
  --black: #000;
  --primary-light: #c5effc;
  --blue1: #2159a8;
  --blue2: #1a4b8f;
  --regular-bkgd: #d3dbdf;
  --hc-color: #0f5c85;
  --hc-hover: #0c4462;
  --hc-color-secondary: #2159a5;
  --hc-regular-accent-action: #9c350d;
  --hc-regular-accent-action-hover: #822500;
  --hc-accent-alert: #a12e26;
  --nada-blue-color: #0071bd;
}
