:root {
  --primary-font: 'Roboto', sans-serif;
  --primary-regular: 400;
  --primary-medium: 500;
  --primary-bold: 700;
  --primary-black: 900;
  --secondary-font: 'PT Serif', serif;
  --secondary-regular: 400;
  --secondary-bold: 800;
  --font-size14: 0.875rem;
  --font-size12: 0.75rem;
}
